<a class="header__link header__link--logo" href="/index.html">
    <img src="/assets/logo.jpg" width="50" alt="">
    <span>Music Store</span>
</a>
<a class="header__link" href="/index.html">
    <img src="/assets/gl.png" width="30" alt="">
    <span>Главная</span>
</a>
<a class="header__link" href="/top.html">
    <img src="/assets/pop.svg" width="30" alt="">
    <span>Популярные</span>
</a>
<a class="header__link" href="/film.html">
    <img src="/assets/cont.png" width="30" alt="">
    <span>Связь</span>
</a>

<button id="theme-toggle" class="header__link" style="background: none; border: none; cursor: pointer;">
    <span id="theme-icon">Тёмная тема</span>
</button>

<button id="burger" class="header__burger">
</button>